*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
}

$text_color: rgb(230, 226, 207);

body,
html {
    height: 100%;
}
.parallax {
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image1{
    background-image: url("img/img_1.jpg");
}

.content {
    height: 100vh;
    background-color: black;
    color: $text_color;
    font-size: 15px;
    text-align: center;
}

.image2 {
    background-image: url("img/img_2.jpg")
}

.text{
    height: 300px;
    background-color: black;
    color: $text_color;
}

